@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <a href="/test/point">Test point</a>
</div>

<style>
    #autocomplete {
        width: 300px;
    }

    #geometry {
        margin-top: 10px;
        background: #EAE19D;
        padding: 10px 20px;
    }
</style>

<input id="autocomplete" placeholder="Enter your address" type="text">
<div id="geometry">
</div>


<script type="text/javascript">
        function initialize() {


    }

    initialize();

</script>