<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Likes & Swipes</title>
    <script type="importmap"></script>
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Top Navigation -->
    <header class="navbar">
        <div class="nav-left">
            <div class="brand"><a href="/" style="text-decoration: none; color: #6b6b6b;">Likes & Swipes</a></div>
        </div>
        <div class="nav-right">
            <partial name="_LoginPartial" />
        </div>
    </header>

    <!-- MAIN -->
    <main class="main">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer">
        © 2026 - Likes & Swipes - <a href="/Home/Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
